<div id="follow-button-container-{{ profile.user.username }}">
    <form hx-post="{% url 'nexusapp:follow_unfollow' profile.user.username %}"
          hx-target="#follow-button-container-{{ profile.user.username }}"
          hx-swap="outerHTML">
        {% csrf_token %}
        <button type="submit"
                class="follow-button px-4 py-2 rounded-lg hover:opacity-90 transition duration-200 hover:scale-95
                       {% if is_following_to %}bg-gray-600{% else %}bg-blue-600{% endif %} text-white">
            {% if is_following_to %}
              Unfollow
            {% else %}
              Follow
            {% endif %}
        </button>
    </form>
</div>
