<div id="follow-button-container">
    <form hx-post="{% url 'instavibeapp:follow_unfollow' profile.user.username %}"
          hx-target="#follow-button-container"
          hx-swap="outerHTML">
        {% csrf_token %}
        <button type="submit" onclick="console.log('Debug Purpose:Follow button clicked')"
                class="follow-button px-4 py-2 rounded-lg
                        hover:opacity-90 transition duration-200
                        hover:scale-95
                       {% if following_status %}bg-gray-600{% else %}bg-blue-600{% endif %} text-white">
            {% if following_status %}
            Unfollow
            {% else %}
            Follow
            {% endif %}
        </button>
    </form>
</div>
